body
{
    width: 50%;
}

#main
{
    border: 1px lightgray solid;
    background-color: white;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

section
{
    position: relative;
}

img
{
    width : 150px;
    height : auto;
}

.Enitalique
{
    font-style: italic
}

#tel
{
    display: block;
}


.inline
{
    display: inline-block;
}

#exp
{
    position: absolute;
}

footer
{
    border-top: 1px lightgray dashed;
    text-align: center;
}