body
{
    width: 50%;
    margin: auto;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#main
{
    border: 1px lightgray solid;
    background-color: white;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

section
{
    position: relative;
}

img
{
    width : 150px;
    height : auto;
}

h2
{
    margin: 0;
}

#info
{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 15px;
}

.right
{
    margin-left: auto;
}

.italic
{
    font-style: italic;
}

#tel
{
    display: block;
}


.inline
{
    display: inline-block;
}

#exp
{
    position: absolute;
}

footer
{
    border-top: 1px lightgray dashed;
    text-align: center;
}

