body
{
    width: 1000px;
    height: 850px;
    border: 1px solid black;
}

#bloom
{
    width: 400px;
    height: 750px;
    border: 1px solid black;
    margin: 50px auto;
}

.cube
{
    width: 250px;
    height: 250px;
    /*margin: auto;*/
}

#red
{
    background-color: #f00;
    position: absolute;
    left: 0;
    top: 0;
}

#blue
{
    background-color: #00f;
}

#green
{
    background-color: #0a0;
}


/**
-------- Logo Windows
 */

#wrapDos
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#windows
{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 158px;
}

.carre
{
    width: 75px;
    height: 75px;
    margin: 2px;
}

.orange
{
    background-color : #f96739;
}

.green
{
    background-color: #91c43f;
}

.blue
{
    background-color: #04b6ec;
}

.yellow
{
    background-color: #ffc343;
}