@font-face {
    font-family: 'Tugudu';
    src: url("/assets/Romantic.ttf") format('truetype'),
        url("/assets/Romantic.otf") format('opentype');
}

:root
{
    --bleu-mickael: #2B3240;
    --color2: #8596A6;
    --color3: #F2DE77;
    --color4: #F2BF80;
    --color5: #F2994B;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

nav
{
    width: 100%;
    height: 2rem;
    /*background-color: #2a6da1;*/
    background-color: var(--bleu-mickael);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    font-weight: bold;
}

main
{
    width: 75%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

article
{
    width: calc(66% + 200px);
}

aside
{
    width: 25%;
    background-color: #f1f1f1;
}

footer
{
    width: 100%;
    height: 2rem;
    background-color: var(--bleu-mickael);
    /*background-color: #02144e;*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    font-weight: bold;
    position: fixed;
    bottom: 0;
}

footer ul
{
    display: flex;
    width: 66%;
    list-style-type: none;
    justify-content: space-around;
}

@media only screen and (max-width: 680px)
{
    @media only screen and (orientation: landscape)
    {
        nav:hover
        {
            background-color: black;
        }
    }
    @media only screen and (orientation: portrait)
    {
        nav:hover
        {
            background-color: red;
        }
    }

    main
    {
        flex-direction: column;
        align-items: center;
    }

    article, aside
    {
        width: 75%;
    }

    footer ul li
    {
        display: none;
    }

    footer ul li:last-child
    {
        display: initial;
    }
}