body
{
    width: 66%;
    margin: auto;
    background-color: #eee;
}

h1
{
    color: #14a1a8;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}


p
{
    width: 50%;
    color: black;
    font-weight: bold;
    text-align: right;
    text-transform: capitalize;
    text-decoration: underline;
}

p:hover
{
    background-color: #303030;
    color: #fff;
}


a
{
    font-style: italic;
    color: rgba(125, 0, 255, 1);
    text-decoration: none;
}