body
{
    width: 66%;
    margin: auto;
    text-align: center;
}

h1
{
    color: #14a1a8;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
}

p
{
    width: 50%;
    background-color: red;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

a
{
    font-style: italic;
    color: rgba(125, 0, 255, 1);
    text-decoration: none;
}