html
{
    background-color: white;
}

body
{
    width: 66%;
    margin: auto;
    background-color: #ccc;
    padding-bottom: 1px;
}

h1
{
    color: #14a1a8;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}


.intro
{
    width: 50%;
    color: black;
    font-weight: bold;
    text-align: right;
    text-transform: capitalize;
    text-decoration: underline;
}

.intro:hover
{
    background-color: #303030;
    color: #fff;
}


a
{
    font-style: italic;
    color: rgba(125, 0, 255, 1);
    text-decoration: none;
}

div
{
    /*width: 75px;*/
    /*height: 75px;*/
    /*border-width: 4px;
    border-style: dotted;
    border-color: black;*/
}

/*section:first-child div:first-child
{
    background-color: #f96739;
    border-width: 4px 2px 2px 4px;
}

section:last-child div:first-child
{
    background-color: #04b6ec;
    border-width: 2px 2px 4px 4px;
}

section:first-child div:last-child
{
    background-color: #91c43f;
    border-width: 4px 4px 2px 2px;
}

section:last-child div:last-child
{
    background-color: #ffc343;
    border-width: 2px 4px 4px 2px;
}*/
article
{
    display: inline-block;

}

article:hover
{
    box-shadow: -10px 10px 5px black;
}

/*section
{
    display: flex;
}*/

.avendre
{
    color: #9b2c2c;
}

.vendu
{
    text-decoration: line-through;
}

li
{
    color: #2b6cb0;
}


#HAUTGAUCHE
{
    background-color : #f96739;
    width: 75px;
    height: 75px;
    margin: 0 2px 2px 0;
}

#HAUTDROITE
{
    background-color : #91c43f;
    width: 75px;
    height: 75px;
    margin: 0 0 2px 2px;
}

#BASGAUCHE
{
    background-color : #04b6ec;
    width: 75px;
    height: 75px;
    margin: 2px 2px 0 0;
}

#BASDROITE
{
    background-color : #ffc343;
    width: 75px;
    height: 75px;
    margin: 2px 0 0 2px;
}

#DROITE , #GAUCHE
{
    display: inline-block;
}
#LOGO
{
    margin: 20px;
}



/*-----------------
    LOGO WINDOWS 2
 -----------------*/

#wrapWindows
{
    margin: 50px;
    font-size: 0;
}

.carre
{
    width: 75px;
    height: 75px;
    display: inline-block;
    margin: 2px;
}

.carre:first-child
{
    background-color : #f96739;
}

.carre:nth-child(2)
{
    background-color: #91c43f;
}

#bottomLeft
{
    background-color: #04b6ec;
}

#bottomRight
{
    background-color: #ffc343;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
}